name: Deploy to PythonAnywhere
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Deploy to PythonAnywhere
        env:
          PA_USERNAME: ${{ secrets.PA_USERNAME }}
          PA_API_TOKEN: ${{ secrets.PA_API_TOKEN }}
          PA_DOMAIN_NAME: 'ahmed3atef.pythonanywhere.com'
          PROJECT_PATH: '/home/ahmed3atef/E-Commerce_System'
        run: python .github/scripts/deploy_pa.py