name: Deploy to PythonAnywhere
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ssh.pythonanywhere.com
          username: ${{ secrets.PA_USERNAME }}
          key: ${{ secrets.PA_SSH_KEY }}
          script_stop: false
          script: |
            export PATH=$PATH:/home/${{ secrets.PA_USERNAME }}/.local/bin
            cd ~/E-Commerce_System
            git pull origin main
            source ~/.virtualenvs/ecom_env/bin/activate
            pip install -r requirements.txt
            python manage.py migrate
            touch /var/www/${{ secrets.PA_DOMAIN_NAME }}_wsgi.py